body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes colorChange {
    0% {
        background-color: #ff9999; /* Light Red */
    }
    20% {
        background-color: #ffbf80; /* Light Orange */
    }
    40% {
        background-color: #ffff99; /* Light Yellow */
    }
    60% {
        background-color: #99ff99; /* Light Green */
    }
    80% {
        background-color: #99ccff; /* Light Blue */
    }
    100% {
        background-color: #ff99ff; /* Light Pink/Purple */
    }
}

/* Apply the animation */
.rainbowBackground {
    animation: colorChange 1ms linear infinite;
}
